db.sqlite3
EnergiaSegura2/__pycache__/
Apps/Usuarios/migrations/__pycache__/
Apps/Usuarios/migrations/
Apps/Usuarios/__pycache__/
Apps/ObjEnsayo/migrations/__pycache__/
Apps/ObjEnsayo/migrations/
Apps/ObjEnsayo/__pycache__/
Apps/Analisis/migrations/__pycache__/
Apps/Analisis/migrations/
Apps/Analisis/__pycache__/
Apps/Clientes/migrations/__pycache__/
Apps/Clientes/migrations/
Apps/Clientes/__pycache__/
Apps/Recepcion/migrations/__pycache__/
Apps/Recepcion/migrations/
Apps/Recepcion/__pycache__/
Apps/Comunes/migrations/__pycache__/
Apps/Comunes/migrations/
Apps/Comunes/__pycache__/