
<!-- inicio comunes -->
<li>
  <a href="#">
    <i class="fa fa-cog"></i>
    <span class="nav-label">Configuración</span>
    <span class="fa arrow"></span>
  </a>
  
  <ul class="nav nav-second-level collapse">
      <li><a href="{% url 'comunes:crear_tipoIdentificacion' %}"> Tipos de identificación </a></li>
  </ul>
  <ul class="nav nav-second-level collapse">
    <li><a href="{% url 'comunes:crear_clasificaciondian' %}"> Clasificación DIAN </a></li>
  </ul>
  <ul class="nav nav-second-level collapse">
    <li><a href="{% url 'comunes:crear_tipocontribuyente' %}"> Tipo de contribuyente </a></li>
  </ul>
  <ul class="nav nav-second-level collapse">
    <li><a href="{% url 'comunes:crear_actividadeconomica' %}"> Actividad económica </a></li>
  </ul>
  <ul class="nav nav-second-level collapse">
    <li><a href="{% url 'comunes:crear_responsabilidadfiscal' %}"> Responsabilidad fiscal </a></li>
  </ul>
  <ul class="nav nav-second-level collapse">
    <li><a href="{% url 'comunes:crear_documentocontable' %}"> Documento contable </a></li>
  </ul>
</li>

<!-- Fin comunes -->

<!-- Inicio Usuarios-->
<li>
  <a href="#">
    <i class="fa fa-users"></i>
    <span class="nav-label">Usuarios</span>
    <span class="fa arrow"></span>
  </a>

  <ul class="nav nav-second-level collapse">
    <li><a href="{% url 'usuarios:roles_crear' %}"> Roles </a></li>
</ul>
<ul class="nav nav-second-level collapse">
  <li><a href="{% url 'usuarios:usuarios_crear' %}"> Usuarios </a></li>
</ul>
</li>
<!-- Fin Usuarios -->

<!-- inicio Tipos de Cilindros -->
<li>
    <a href="{% url 'ObjEnsayo:crear' %}">
      <i class="fa fa-fire-extinguisher"></i>
      <span class="nav-label">Tipos Objetos de Ensayo </span>
    </a>
</li>
<!-- Fin Tipos de Cilindros -->
<!-- inicio Analisis de Laboratorio -->
<li>
  <a href="#">
    <i class="fa fa-flask"></i>
    <span class="nav-label">Análisis de Laboratorio</span>
    <span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level collapse">
      <li><a href="{% url 'Analisis:crear_fase' %}"> Fases </a></li>
  </ul>
  <ul class="nav nav-second-level collapse">
      <li><a href="{% url 'Analisis:crear' %}"> Análisis </a></li>
  </ul>
</li>

<!-- Fin Analisis de Laboratorio -->

<!-- inicio Clientes -->
<li>
  <a href="#">
    <i class="fa fa-user"></i>
    <span class="nav-label">Clientes</span>
    <span class="fa arrow"></span>
  </a>
  
  <ul class="nav nav-second-level collapse">
      <li><a href="{% url 'Clientes:crear_clasificacion' %}"> Clasificación </a></li>
  </ul>
  <ul class="nav nav-second-level collapse">
    <li><a href="{% url 'Clientes:crear' %}"> Crear clientes </a></li>
  </ul>
  <ul class="nav nav-second-level collapse">
    <li><a href="{% url 'Clientes:listar' %}"> Listar clientes </a></li>
  </ul>

</li>

<!-- Fin Clientes -->

<!-- Inicio Recepción -->
<li>
  <a href="#">
    <i class="fa fa-list-ul"></i>
    <span class="nav-label">Recepción</span>
    <span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level collapse">
    <li><a href="{% url 'Clientes:crear_clasificacion' %}"> Recibir items </a></li>
  </ul>
  <ul class="nav nav-second-level collapse">
    <li><a href="{% url 'Clientes:crear' %}"> Listar recepciones </a></li>
  </ul>
  <ul class="nav nav-second-level collapse">
    <li><a href="{% url 'Clientes:listar' %}"> Listar clientes </a></li>
  </ul>
</li>
<!-- Firn Recepción -->