<!-- inicio Tipos de Cilindros -->
<li>
    <a href="{% url 'ObjEnsayo:crear' %}">
      <i class="fa fa-fire-extinguisher"></i>
      <span class="nav-label">Tipos Cilindros </span>
    </a>
</li>
<!-- Fin Tipos de Cilindros -->
<!-- inicio Analisis de Laboratorio -->
<li>
  <a href="#">
    <i class="fa fa-flask"></i>
    <span class="nav-label">Análisis de Laboratorio</span>
    <span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level collapse">
      <li><a href="{% url 'Analisis:crear_fase' %}"> Fases </a></li>
  </ul>
  <ul class="nav nav-second-level collapse">
      <li><a href="{% url 'Analisis:crear' %}"> Análisis </a></li>
  </ul>
</li>

<!-- Fin Analisis de Laboratorio -->