{% extends "base.html" %}
{% load static %}

{% block titulo %}
    {{ boton }}
{% endblock %}

{% block extrahead %}
    <link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/select2/select2-bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block contenido %}
    <div class="col-lg-12">
        <form  method="POST" class="form-horizontal form-bordered " data-parsley-validate="true"> {% csrf_token %}
            
            {{ form.non_field_errors }}
            <div class="row">
                <div class="fieldWrapper col-lg-6">
                    {{ form.nombre.errors }}
                    <label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label }}: </label>
                    {{ form.nombre }}
                </div>

                <div class="fieldWrapper col-lg-6">
                    {{ form.estado.errors }}
                    <label for="{{ form.estado.id_for_label }}">{{ form.estado.label }}: </label>
                    {{ form.estado }}
                </div>
            </div>
            <div class="row">
                <div class="fieldWrapper col-lg-6">
                    {{ form.tipo_identifcacion.errors }}
                    <label for="{{ form.tipo_identifcacion.id_for_label }}">{{ form.tipo_identifcacion.label }}: </label>
                    {{ form.tipo_identifcacion }}
                </div>
                <div class="fieldWrapper col-lg-6">
                    {{ form.numero_identificacion.errors }}
                    <label for="{{ form.numero_identificacion.id_for_label }}">{{ form.numero_identificacion.label }}: </label>
                    {{ form.numero_identificacion }}
                </div>
            </div>
            <div class="row">
                <div class="fieldWrapper col-lg-6">
                    {{ form.clasificacion.errors }}
                    <label for="{{ form.clasificacion.id_for_label }}">{{ form.clasificacion.label }}: </label>
                    {{ form.clasificacion }}
                </div>
                <div class="fieldWrapper col-lg-6">
                    {{ form.contribuyente.errors }}
                    <label for="{{ form.contribuyente.id_for_label }}">{{ form.contribuyente.label }}: </label>
                    {{ form.contribuyente }}
                </div>
            </div>
            <div class="row">
                <div class="fieldWrapper col-lg-6">
                    {{ form.plazo.errors }}
                    <label for="{{ form.plazo.id_for_label }}">{{ form.plazo.label }}: </label>
                    {{ form.plazo }}
                </div>
                <div class="fieldWrapper col-lg-6">
                    {{ form.actividadEconomica.errors }}
                    <label for="{{ form.actividadEconomica.id_for_label }}">{{ form.actividadEconomica.label }}: </label>
                    {{ form.actividadEconomica }}
                </div>
            </div>
            <div class="row">
                <div class="fieldWrapper col-lg-6">
                    {{ form.tiposResponsabilidades.errors }}
                    <label for="{{ form.tiposResponsabilidades.id_for_label }}">{{ form.tiposResponsabilidades.label }}: </label>
                    {{ form.tiposResponsabilidades }}
                </div>
            </div>



            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4"></label>
                <div class="col-md-6 col-sm-6">
                    <button type="submit" class="btn btn-primary add-gritter-light">
                    {{ boton }}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}  
    {{ form.media.js }}  
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

    <script>
        $(document).ready(function() {

            $('.footable').footable();
            $(".select2_demo_2").select2({
                theme: 'bootstrap4',
            });
            $(".select2_demo_2").djangoSelect2();

        });
    </script>
{% endblock%}