{% load crispy_forms_tags %}
{% load static %}

<link href="{% static 'css/plugins/select2/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/select2/select2-bootstrap4.min.css' %}" rel="stylesheet">

    {{ formset.management_form|crispy }}

    {% for form in formset.forms %}
        <div class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">   
                
            
                <div class="borde">
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form.nombre.errors.as_ul }}
                            {{ form.nombre|as_crispy_field }} 
                        </div>
                        <div class="col-lg-6">
                            {{ form.estado.errors.as_ul }}
                            {{ form.estado|as_crispy_field }} 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            {{ form.departamento.errors.as_ul }}
                            {{ form.departamento|as_crispy_field }} 
                        </div>
                        <div class="col-lg-4">
                            {{ form.ciudad.errors.as_ul }}
                            {{ form.ciudad|as_crispy_field }} 
                        </div>
                        <div class="col-lg-4">
                            {{ form.direccion.errors.as_ul }}
                            {{ form.direccion|as_crispy_field }} 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            {{ form.responsable_tecnico.errors.as_ul }}
                            {{ form.responsable_tecnico|as_crispy_field }} 
                        </div>
                        <div class="col-lg-4">
                            {{ form.telefono_tecnico.errors.as_ul }}
                            {{ form.telefono_tecnico|as_crispy_field }} 
                        </div>
                        <div class="col-lg-4">
                            {{ form.email_tecnico.errors.as_ul }}
                            {{ form.email_tecnico|as_crispy_field }} 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            {{ form.responsable_comercial.errors.as_ul }}
                            {{ form.responsable_comercial|as_crispy_field }} 
                        </div>
                        <div class="col-lg-4">
                            {{ form.telefono_comercial.errors.as_ul }}
                            {{ form.telefono_comercial|as_crispy_field }} 
                        </div>
                        <div class="col-lg-4">
                            {{ form.email_comercial.errors.as_ul }}
                            {{ form.email_comercial|as_crispy_field }} 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            {{ form.responsable_contabilidad.errors.as_ul }}
                            {{ form.responsable_contabilidad|as_crispy_field }} 
                        </div>
                        <div class="col-lg-4">
                            {{ form.telefono_contabilidad.errors.as_ul }}
                            {{ form.telefono_contabilidad|as_crispy_field }} 
                        </div>
                        <div class="col-lg-4">
                            {{ form.email_contabilidad.errors.as_ul }}
                            {{ form.email_contabilidad|as_crispy_field }} 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            {{ form.responsable_administrativo.errors.as_ul }}
                            {{ form.responsable_administrativo|as_crispy_field }} 
                        </div>
                        <div class="col-lg-4">
                            {{ form.telefono_administrativo.errors.as_ul }}
                            {{ form.telefono_administrativo|as_crispy_field }} 
                        </div>
                        <div class="col-lg-4">
                            {{ form.email_administrativo.errors.as_ul }}
                            {{ form.email_administrativo|as_crispy_field }} 
                        </div>
                    </div>

                </div>
            
                        
        </div>
    {% endfor %}


<br>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row-{{ formset.prefix }}').formset({
        addText: 'Agregar otro',
        deleteText: 'Quitar',
        prefix: '{{ formset.prefix }}',
    });
    
</script>
{{ form.media.js }}  
<script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>

<script>
    $(document).ready(function() {

        $(".select2_demo_2").select2({
            theme: 'bootstrap4',
        });
        $(".select2_demo_2").djangoSelect2();

    });
</script>